:root { 

  --blue-text: rgba(33, 150, 243, 1); 

  --logo-text: rgba(0, 0, 0, 1); 

  --black-text: rgba(33,33,33,1);


  --grey-text: rgba(117,117,117,1); 


  --white-text-op60: rgba(255, 255, 255, 0.6);
  
  --white-text: rgba(255,255,255,1); 


  --background-white: rgba(245,244,250,1); 

  --background-black: rgba(47,48,58,1);

}

body { 
  font-family: Roboto, sans-serif;
}

p {
  color: var(--grey-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.title {
  color: var(--black-text);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.title-w-t {
  color: var(--black-text);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.title-t {
  color: var(--black-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}


.logo {
  color: var(--blue-text);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1,19;
  letter-spacing: 0.03em;

} 

.logo-span {
  color: var(--logo-text);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

}

ul {
  list-style: none;
}  

/* site-nav */

.site-nav .link {
  color: var(--black-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover, 
.site-nav .link:focus {
  color: var(--blue-text);
  letter-spacing: 0.02em;

}

/* auth-nav */
.auto-nav .link  {
  color: var(--grey-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

}

.auto-nav .link:hover,
.auto-nav .link:focus {
  color: var(--blue-text);
  letter-spacing: 0.02em;

}

/* hero */

.hero {
  background-color: var(--background-black);
}

.hero-title {
  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero-button {
  color: var(--white-text);
  background-color: var(--blue-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.text-team {   
  color: var(--grey-text);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* footer */
.footer {
  background-color: var(--background-black);
  letter-spacing: 0.03em;
}

.footer-logo {
  color: var(--blue-text);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
} 

.footer-span {
  color: var(--white-text);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-address {
  color: var(--white-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer .link {
  color: var(--white-text-op60);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--blue-text);
  letter-spacing: 0.03em;
}

/* кнопки */
.button  {
  font-family: Robot, sans-serif;
  background-color: var(--backgroung-white);
  color: var(--black-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
  color: var(--white-text);
  background-color: var(--blue-text);
  letter-spacing: 0.03em;
}

/* portfolio-site */
.site-title {
  color: var(--black-text);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.site-text {
  color: var(--grey-text);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
